#scanner-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid #ccc;
    background-color: #000;
}
#camera-feed {
    width: 100%;
    height: auto;
    display: block;
}
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#status-message {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}




